%script{:rel => "stylesheet", :href => "/css/index.ccs"}
%head
  %script{:src => "https://maps.googleapis.com/maps/api/js?key=AIzaSyAJkYmD2ObG2pEyWByMCU0JpSSdP6dVPm8&sensor=true"}
  %script{:src => "javascripts/indexMap.js"} 
  #map-canvas
